@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container{
	font-family: 'Open Sans', sans-serif;
	width: 300px;
	height: 322px;
	margin: 0 auto;
	position: relative;
	top: 50px;
	background-color: #eee;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px gray; 
	transition: .3s;
}

.container:hover{
	box-shadow: 3px 3px 2px gray;
}

.screen{
	width: 99%;
	height: 50px;
	border: 1px solid #2980b9;
	text-align: right;
	margin: 0 auto;
	margin-bottom: 3px;
	background-color: white;
}

#valores{
	position: relative;
	top: 15px;
	font-size: 25px;
	overflow: overlay;
	height: 40px;
	padding: 0 5px;
	color: #34495e;
}

.btn {
	width: 25%;
	height: 50px;
	float: left;
	font-size: 17px;
	background-color: #2980b9;
	color: white;
	border: 1px solid #eee;
	transition: .1s;
}

.btn:hover, .btn:focus, .btn:active{
	border: 1px solid #eee;
	background-color: #3498db;
	outline: none;
}

.keypress{
	border: 1px solid #eee;
	background-color: #34495e;
	outline: none;
}

.operadores{
	background-color: #2e7d32;
}

.borrar{
	background-color: #c0392b;
}

#clear, #igual{
	width: 50%;
}