@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
	width: 600px;
	margin: 10px auto;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	text-align: center;
	color: #34495e;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	font-size: 1.8em;
}

.box {
	width: 100%;
	box-shadow: border-box;
	padding: 5px 15px 15px;
	background-color: #eceff1;
}

.task {
	float: left;
	width: 90%;
	height: 30px;
	border: 1px solid #b0bec5;
	padding: 2px 4px;
	transition: all 200ms ease;
	font-size: 1.1em;
}

.task:focus{
	border-color: #039be5;
}

.btn {
	width: 8%;
	margin: 0;
	padding: 0;
	height: 36px;
	background-color: #00b0ff;
	border: 1px solid #40c4ff;
	color: whitesmoke;
	transition: all 200ms ease;
}

.btn:hover,.btn:focus{
	background-color: #0091ea;
	border: 1px solid #3498db;
}

.fa-plus-square{font-size: 1.4em;}

.alert{
	color: #e74c3c;
	position: relative;
	top: 5px;
	font-weight: bold;
}

.ul-task{
	list-style: none;
	margin: 0;
	padding: 0;
}
.ul-task li{
	cursor: pointer;
	position: relative;
	padding: 12px 40px;
	background-color: #f9f9f9;
	color: #2c3e50;
	font-size: 16px;
	word-wrap: break-word;
	transition: all 200ms ease;
	user-select: none;
}

.ul-task li:nth-child(odd){
	background-color: #90a4ae;
}

.ul-task li:hover{
	background-color: #607d8b;
	color: whitesmoke;
}

.ul-task li.checked{
	background-color: #888;
	color: #fff;
	text-decoration: line-through;
}

.ul-task li.checked::before{
	content: "";
	position: absolute;
	border-style: solid;
	border-color: #00e5ff;
	border-width: 0 3px 3px 0;
	top: 10px;
	left: 16px;
	height: 15px;
	width: 7px;
	transform: rotate(45deg);
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px;
	transition: all 200ms ease;
}

.close:hover{
	background-color: #e74c3c;
	color: whitesmoke;
}






