#loader{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.cargando{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 30%;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: center;

}

.encabezado{
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: top center;
}

.box{
	width: 100%;
	border: 1px solid #eee;
	margin-bottom: 50px;
	box-shadow: 1px 1px 1px #eee;
	transition: all 300ms ease;
}

.box:hover{
	box-shadow: 3px 3px 2px #95a5a6;
}

.body-box {
	padding: 0 16px;
}

.panel-group .panel{
	border: none;
	border-radius: 0;
}

.panel-default>.panel-heading{
	color: whitesmoke;
    background-color: #34495e;
    border-color: #34495e;
}

.panel-heading{border-radius: 0;}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a{
	display: block;
    width: 100%;
    font-size: 17px;
}


.titulo {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;
	text-align: center;
	/*background-color: rgba(52, 73, 94,.5);*/
	background: -moz-linear-gradient(top,  rgba(125,185,232,0) -1%, rgba(125,185,232,0.01) 0%, rgba(52,73,94,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(125,185,232,0) -1%,rgba(125,185,232,0.01) 0%,rgba(52,73,94,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,185,232,0) -1%,rgba(125,185,232,0.01) 0%,rgba(52,73,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#34495e',GradientType=0 );
    color: white;
	transition: all 300ms ease;
}

.encabezado:hover .titulo{
	height: 100%;
	background-color: rgba(52, 73, 94,.5)
}

.encabezado:hover .titulo h3{
	top: 45%;
}

.titulo h3{
	position: relative;
	top: 10px;
}


h4{
	font-size: 13px;
}